.wrapper {
    min-height: fit-content;
    padding-bottom: 100px;
    /* background-image: url("./pixel-heart.png");
    background-repeat: repeat-y; */
    width: 100%;
    min-width:fit-content;

  }