.icons{
    width:150px;
    height:200px;
    background-position: center;
}
div{

  background-size: cover;

}

.container{
  width:600px;
  height: 700px;
  background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minimax(100px,auto);
    padding-top: 50px;
}

/* .spacer{
  padding-top: 50px;
} */